In [14]:
import numpy as np
import pandas as pd
import os
import json
import glob

# Defining Data and Annotations Directory

In [23]:
DATA_DIR = './../datasets/'
ANNOTATIONS_DIR = './../datasets/train/annotations/'

## Reading all the Annotation Files

In [24]:
# Get all the files in the annotations directory
annotations = []
for (dirpath, _, filenames) in os.walk(ANNOTATIONS_DIR):
    filenames.sort()
    for filename in filenames:
        annotations.append(os.path.join(dirpath, filename))
    break

## Converting Annotations Json files to Pandas DataFrame

In [25]:
# Convert the annotations to a csv file
def convert_annotations_to_csv(annotations):
    data = []
    for annotation in annotations:
        file_name = annotation.split('/')[-1].split('.')[0]
        with open(annotation) as f:
            parsed = json.load(f)
        
        data.append([file_name, parsed['source'], parsed['chart-type'], parsed['plot-bb']['height'], parsed['plot-bb']['width'],\
                     parsed['plot-bb']['x0'], parsed['plot-bb']['y0'], parsed['text'], parsed['axes']['x-axis'], parsed['axes']['y-axis'],\
                    parsed['data-series']])
    return pd.DataFrame(data, columns=['ID', 'Source', 'chart-type', 'BB-height', 'BB-width', 'BB-x0', 'BB-y0', 'text', 'X-axis', 'Y-axis', 'data-series'])

df = convert_annotations_to_csv(annotations)
df.head()

,ID,Source,chart-type,BB-height,BB-width,BB-x0,BB-y0,text,X-axis,Y-axis,data-series
0,0000ae6cbdb1,generated,vertical_bar,137,379,83,53,"[{'id': 0, 'polygon': {'x0': 53, 'x1': 412, 'x...","{'ticks': [{'id': 10, 'tick_pt': {'x': 103, 'y...","{'ticks': [{'id': 3, 'tick_pt': {'x': 83, 'y':...","[{'x': 'Malawi', 'y': 837799.95244483}, {'x': ..."
1,0003a50817cf,generated,line,359,497,80,61,"[{'id': 0, 'polygon': {'x0': 210, 'x1': 446, '...","{'ticks': [{'id': 12, 'tick_pt': {'x': 80, 'y'...","{'ticks': [{'id': 3, 'tick_pt': {'x': 80, 'y':...","[{'x': 'Jan', 'y': 34.06176711672003}, {'x': '..."
2,0005413054c9,generated,line,116,376,84,52,"[{'id': 0, 'polygon': {'x0': 56, 'x1': 411, 'x...","{'ticks': [{'id': 10, 'tick_pt': {'x': 99, 'y'...","{'ticks': [{'id': 3, 'tick_pt': {'x': 84, 'y':...","[{'x': 'North Korea', 'y': 848122.6665414328},..."
3,0005e64fdc6e,generated,scatter,230,415,55,62,"[{'id': 0, 'polygon': {'x0': 71, 'x1': 470, 'x...","{'ticks': [{'id': 8, 'tick_pt': {'x': 55, 'y':...","{'ticks': [{'id': 1, 'tick_pt': {'x': 55, 'y':...","[{'x': 1949.161409571262, 'y': 48.034807831762..."
4,000614d3eab6,generated,line,421,507,158,67,"[{'id': 0, 'polygon': {'x0': 184, 'x1': 635, '...","{'ticks': [{'id': 8, 'tick_pt': {'x': 180, 'y'...","{'ticks': [{'id': 3, 'tick_pt': {'x': 158, 'y'...","[{'x': 'Jan', 'y': 4.332117595048629}, {'x': '..."

## Save the DataFrame to CSV file

In [26]:
# Save the csv file
df.to_csv(DATA_DIR + '/train/train.csv', index=False)